[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "<3.0"
mysqlclient = "==2.0.3"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
