[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "<3.0"
django-restful-admin = {editable = true,path = "./packages/django_restful_admin"}

[requires]
python_version = "3.6"
