[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
django = "<3.0"
django-import-export = "*"
six = "*"
django-river = "*"
django-river-patch = {editable = true,path = "./../packages/django-river-patch"}

[requires]
python_version = "3.6"
