[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "<3.0"
celery = ">=4.2,<5.0"
django-celery-beat = "==2.0.0"
django-celery-results = "==1.2.1"

[requires]
python_version = "3.6"
